
h3{
    color: #333;
font-size: 24px;
font-weight: 700;
padding-left: 80px;}
.page{
    display: flex;
justify-content: space-around;
align-items: center;
padding: 50px;
}
img{
    width: 550px;
    height: 500px;
}
.info{
    width: 450px;
}
.info_head{
    color:  #333;
font-size: 64px;
font-weight: 700;
}
.info_des{
    color:  #4F4F4F;
font-size: 24px;
font-weight: 400;
}
button{
    background-color: black;
    color: antiquewhite;
border: 0px;
padding: 5px;
width: 200px;
height: 50px;

}
/* media quary mobile */
@media screen and (max-width: 576px) {
    .page{
        flex-direction: column;
    }
    img{
        width: 375px;
        height: 325px;
    }
    .info{
        width: auto;
    }
}